@charset "utf-8";
/* CSS Document */

.muest-float,.cat-erase span{
	display: none;
}
.muestrario-cat{
	min-width: 50%;
}
.muestrario-cat th{
	font-weight: bold;
}
.muestrario-cat td,.muestrario-cat th{
	padding: 7px;
	text-align: center;
}
.cat-erase{
	background: url(../img/delete_icon.png) no-repeat;
	width: 20px;
	height: 25px;
	border: none;
	cursor: pointer;
	cursor: hand\9;
}
